.bg_header {
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.nav {
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.nav img {
  width: 6vw;
  height: 10vh;
}

.nav a {
  margin: 1rem;
  text-decoration: none; 
  color: #F5F5F5;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 22px;
}

.fonts_nav {
  text-align: right;
}

.header {
  text-align: center;
  height: 20rem;
  color: #F5F5F5;
}

.card_playList{
  position: absolute;
  width: 70%;
  height: 400px;
  left: 15vw;
  top: 14rem;
  background: #2D2C2C;
  box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.36);
  border-radius: 38px;
  color: aliceblue;
}

.broadcasterPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.billboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.billboard_title {
  font-size: 32px;
}

.billboard_social {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.billboard_social img {
  margin: 6px;
}

.billboard_broadcaster {
  font-size: 28px;
}

.events_title {
  text-align: center;
  margin-top: 19rem;
  margin-bottom: 2rem;
}

.events_carousel {
  padding: 4rem 2rem;
  text-align: center;
}

.events_cards {
  border-radius: 20px;
  border: none;
  background-color: #F8F8F8;
  box-shadow: 5px 8px 11px 1px rgba(77, 75, 75, 0.14);
  margin-bottom: 4rem;
}

.events_cards img {
  border-radius: 20px 20px 0 0;
}

.events_description {
  font-size: 18px;
}

.programs {
  margin-top: 0rem;
  margin-bottom: 4rem;
  text-align: center;

}

.programs_bg{
  display: flex;
  align-items: center;
  justify-content: center;
}


.programs_section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.programs_cards {
  box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.36);
  border-radius: 38px;
  color: aliceblue;
  margin: 2rem 10rem;
  padding: 2rem;
}

.programs_cards_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.programs_cards_content_title {
  font-size: 24px;
  font-weight: bold;
}

.programs_cards_content_name {
  font-size: 20px;
  font-weight: 400;
}

.programs_cards_content_description {
  font-size: 20px;
  font-weight: lighter;
}

.programs_cards_content_schedule {
  font-size: 24px;
}

.programs_cards_img {
  display: flex;
  align-items: center;
  align-self: center;
}

.djSection_bg {
  background-color: #F5F5F5;
  padding-bottom: 6rem;
}

.djSection_title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.djSection_content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.djSection_content img {
  align-self: center;
}

.djSection_content_name {
  font-weight: 700;
  font-size: 2.3rem;
}

.djSection_content_title {
  font-weight: 700;
  font-size: 1.6rem;
  color: rgba(131, 56, 236, 1);
}

.djSection_content_copy {
  font-size: 20px;
  margin: 0 4rem;
}

.sponsors_content {
  margin-bottom: 6rem;
}

.sponsors_title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.sponsors_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.footer_content {
  background-color: #2D2C2C;
  color: #FFFFFF;
  text-align: center;
  padding-top: 3rem;
}

.footer_content a {
  margin: 1rem;
  text-decoration: none; 
  color: #F5F5F5;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 22px;
}

.footer_copyright {
  margin-top: 6rem;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}




@media screen and (max-width: 992px) {

}  

@media screen and (max-width: 768px) {

  .nav a {
    font-size: 12px;
  }

}

@media screen and (max-width: 574px) {
  .fonts_nav {
    text-align: center;
  }
  
}  

@media screen and (max-width: 375px) {

}  