.nav {
  font-weight: bold;
  background-color: #FFBE0B;
  padding: 1rem;
  text-align: center;
}

.nav img {
  width: 6vw;
  height: 10vh;
}

.nav a {
  margin: 1rem;
  text-decoration: none; 
  color: black;
}

.fonts_nav {
  text-align: right;
}

.header {
  background-color: #FFBE0B;
  text-align: center;
  height: 20rem;
}

.card_playList{
  position: absolute;
  width: 70%;
  height: 400px;
  left: 15vw;
  top: 14rem;
  background: #2D2C2C;
  box-shadow: 0px 14px 22px rgba(0, 0, 0, 0.36);
  border-radius: 38px;
  color: aliceblue;
}

@media screen and (max-width: 992px) {

}  

@media screen and (max-width: 768px) {

  .nav a {
    font-size: 12px;
  }

}

@media screen and (max-width: 574px) {
  .fonts_nav {
    text-align: center;
  }
  
}  

@media screen and (max-width: 375px) {

}  